<a href="https://colab.research.google.com/github/Amankhalsa/intro_python/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# a=9 //a is variable 9 is value of variable
# b=5
# c=a+b
# print(c)
print("hello")
list =[1,2,3,4,5] #this is a list 
print(list)
my_tup=(1,"a",2,"b",3) #tuple
print(my_tup)
my_dict={"name":"john","age":28} #dictonary
print(my_dict)
my_set={1,2,3,2,1,4,3,2,5,7} #set 
print("Printed order wise no duplicate ",my_set)

hello
[1, 2, 3, 4, 5]
(1, 'a', 2, 'b', 3)
{'name': 'john', 'age': 28}
Printed order wise no duplicate  {1, 2, 3, 4, 5, 7}