<a href="https://colab.research.google.com/github/Amankhalsa/intro_python/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro of python
# **What is Python?**

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**
*   **web development (server-side),**
*   **software development,**
*   **mathematics,**
*   **system scripting.**

# Who used python language 
* NASA 
* Youtube
* Yahoo
* Instagram 
* Pinterest
* Google
* Facebook 
* IBM 
* dropbox
* Mozilla

# Top 10 Programming Languages for 2021
* Python
* JavaScript
* Java
* C++
* GoLang
* C#
* SQL
* Dart
* R
* PHP
# **What can Python do?**

* Python can be used on a server to create web applications.

* Python can be used alongside software to create workflows.

* Python can connect to database systems. It can also read and modify files.

* Python can be used to handle big data and perform complex mathematics.

* Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

# Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# Features in Python
* Easy to code: Python is a high-level programming language. ...
* Free and Open Source: ...
* Object-Oriented Language: ...
* GUI Programming Support: ...
* Cross platform lanuage 
* High-Level Language: ...
* Extensible feature: ...
* Python is Portable language: ...
* Python is Integrated language
* Interpreted Language:
* Large Standard Library
* Python has a large standard library which provides a rich set of module and functions etc.
* Dynamically Typed Language:
[>>More About:](https://www.geeksforgeeks.org/python-features/)

# versions of python 
*	Python Version  Released Date
*	Python 1.0  January 1994
*	Python 1.5  December 31, 1997
*	Python 1.6  September 5, 2000
*	Python 2.0  October 16, 2000
*	Python 2.1  April 17, 2001
*	Python 2.2  December 21, 2001
*	Python 2.3  July 29, 2003
*	Python 2.4  November 30, 2004
*	Python 2.5  September 19, 2006
*	Python 2.6  October 1, 2008
*	Python 2.7  July 3, 2010
*	Python 3.0  December 3, 2008
*	Python 3.1  June 27, 2009
*	Python 3.2  February 20, 2011
*	Python 3.3  September 29, 2012
*	Python 3.4  March 16, 2014
*	Python 3.5  September 13, 2015
*	Python 3.6  December 23, 2016
*	Python 3.7  June 27, 2018
*	Python 3.8  October 14, 2019
[>>Read more](https://www.javatpoint.com/python-history)

* [web link:](https://www.tutorialspoint.com/python/index.htm)
![python.PNG]()

# Python Getting Started
# Python Install
[Python official website link:](https://www.python.org/)
[Download link](https://www.python.org/downloads/)
* Many PCs and Macs will have python already installed.

* To check if you have python installed on a Windows PC, search in the start bar for Python or run the following on the Command Line (cmd.exe):
* C:\Users\Your Name>python --version
# Python Quickstart
* Python is an interpreted programming language, this means that as a developer you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed.

* The way to run a python file is like this on the command line:

* C:\Users\Your Name>python helloworld.py
# we can run  Python code  Command Line
* C:\Users\Your Name>python filename.py

* Whenever you are done in the python command line, you can simply type the following to quit the python command line interface:

* exit()

# Execute Python Syntax
As we learned in the previous page, Python syntax can be executed by writing directly in the Command Line:

* 

# Python Indentation
* Indentation refers to the spaces at the beginning of a code line.

* Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

* Python uses indentation to indicate a block of code.

In [ ]:
print("Hello, python  World! ")

Hello, python  World!

# First hello print in python

In [ ]:
print("Hello, World!")

Hello, World!

# Python Syntax

In [ ]:
#Python Syntax
if 5 > 2:
  print("Five is greater than two!")
else:
  
  print("no 5 is less then number")
#if you write like this Syntax Error:
#if 5 > 2:
#print("Five is greater than two!")

Five is greater than two!

In [ ]:
# a is variable 9 is value of variable
# a=9 
# b=5
# c=a+b
# print(c)
print("hello")
# we will discus next lecture about this below code 

list =[1,2,3,4,5]                 #this is a list 
print(list)
my_tup=(1,"a",2,"b",3)            #tuple
print(my_tup)
my_dict={"name":"john","age":28}  #dictonary
print(my_dict)
my_set={1,2,3,2,1,4,3,2,5,7}      #set 
print("Printed order wise no duplicate ",my_set)

hello
[1, 2, 3, 4, 5]
(1, 'a', 2, 'b', 3)
{'name': 'john', 'age': 28}
Printed order wise no duplicate  {1, 2, 3, 4, 5, 7}

# Python Comments
* Comments can be used to explain Python code.
* Comments can be used to make the code more readable.
* Comments can be used to prevent execution when testing code.
* Creating a Comment
* Comments starts with a #, and Python will ignore them:
# Comments in python

In [ ]:
# thisis a comment 

"""This
is 
a  
 multiline  comment"""
print("Hello pyhton world !")  #This is a comment

Hello pyhton world !

#Multi Line Comments
* Python does not really have a syntax for multi line comments.

* To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

#2nd example
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Hello, World!

# Python Variables
Variables
* Variables are containers for storing data values.

* Creating Variables
* Python has no command for declaring a variable.

*A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
#2nd example 
print("Hi")
# Variable in Python:
# abc = "It's a string variable"
# abcnum = 40 # It is an example of int variable
# abc123 = 55.854 # It is an example of float variable
# print(abcnum + abc123) # This will give sum of 40 + 55.854
# print(type(abc))
# print(abc)
# num1=23
# num2=55
# print(int(num1)+int(num2))

'''
quiz1 : 
# '''
# AB= input("Enter number :")
# print(AB)
print("calculator")
#for user input 1 code
x=input("enter num1:")   #x=int(input("enter num1:"))  can use like this 
x=int(x)
# user input 2 code 
y=input("enter num2:")   #y=int(input("enter num2:"))  can use like this 
y=int(y)
# calculation  code 
z = x+y
print("Answer is :", z)

Hi
calculator
enter num1:45679
enter num2:4789
Answer is : 50468

[Click me: for more about python intro](https://youtu.be/3dy_PYF9xOI)

# Python - Variable Names
* Variable Names
* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#example
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Remember that variable names are case-sensitive

#Multi Words Variable Names
#Variable names with more than one word can be difficult to read.

#There are several techniques you can use to make them more readable:

#Camel Case
#Each word, except the first, starts with a capital letter:
myVariableName = "John"
print(myVariableName)

#Pascal Case
#Each word starts with a capital letter:
MyVariableName = "John"
print(MyVariableName)

#Snake Case
#Each word is separated by an underscore character:
my_variable_name = "John"
print(my_variable_name)

John
John
John

# Python Variables - Assign Multiple Values

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection
* If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. 
* This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

# Python - Output Variables

In [ ]:
'''Python - Output Variables
Output Variables
The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:'''

#Example
x = "awesome"
print("Python is " + x)

Python is awesome

# Python - Global Variables
* Global Variables
* Variables that are created outside of a function (as in all of the examples above) are known as global variables.

* Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

# Python Data Types
* Built-in Data Types
* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

In [ ]:
#Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview

In [ ]:
""" 
Python Numbers
Python Numbers
There are three numeric types in Python:
int
float
complex
"""

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
'''Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

Example
Floats:
'''
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
'''Float can also be scientific numbers with an "e" to indicate the power of 10.

Example
Floats:'''

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
"""Complex
Complex numbers are written with a "j" as the imaginary part:

Example
Complex:
"""
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# String

In [ ]:
  # String Functions:
demo = "Aman is a good boy" 
print(demo.endswith("boy"))
print(demo.count('o'))
print(demo.capitalize())
print(demo.upper())
print(demo.lower())
print(demo.find("is"))
print(demo.replace("good","nice"))
# print(demo)
# print("aman")
print("Half printed =>",demo[0:5])
mystr = "Harry is a good boy"
# print(len(mystr))
# print(mystr[::-2])

print(mystr.endswith("bdoy"))
print(mystr.count("o"))
print(mystr.capitalize())
print(mystr.replace("is", "are"))

#9
#9
#9